/* test111 */

body {
    background-image: url("http://www.csszengarden.com/079/flower_bg.jpg");
}

h3, p {
    font: italic;
    font-size: 13px;
    font-family: "Times New Roman", Times, serif;
     
}

/* Customized CSS */

.logo-container{
    position: relative;
    bottom: -40px;
}

.logo1 {
    background: no-repeat;
}

.logo2 {
    position: relative;
    left: 100px;
    margin-left: -20px;
    
}

.left-column {
    
    width:300px;
    position: left;
    padding: 35px;
}

.right-column{
    margin-top: -20%;
    margin-right: 220px;
    padding: 40px;
    float: right;
    width:800px;
    height: 200px;
    overflow: scroll;
}

.bottom-right-column{
    margin-top:-11%;
    margin-right: 220px;
    padding: 40px;
    float: right;
    width:800px;
    height: 200px;

}

.bottom-left-column{
    position: absolute
    margin-top: -5%;
    margin-right: 220px;
    padding: 40px;

}